@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

body {
    background-color: black;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -5;
    opacity: 50%;
    background-color: black;
}
  
  .pfp {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    z-index: 2;

}

.line {
    width: 50px;
    z-index: 3;
    color: white;
}

.button {
  transition: all 0.5s ease;
  border: 1.5px solid white;
  margin: 0 auto; /* Correct way to center block elements */
  background-color: transparent;
  border-radius: 5px;
  width: fit-content; /* or set a fixed width like 200px */
  color: white;
  padding: 10px 20px; /* gives it height and width */
  font-family: 'Lato', sans-serif;
  text-align: center;
  outline: none;
  text-transform: uppercase;
  display: block; /* Make it a block-level element for margin auto to work */
}

.button:hover {
    color: rgb(87, 87, 87);
    border-color: rgb(87, 87, 87);
}

.tiktok {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    
}
.discord {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.music-player {
    display: block;
}
